DBHOST=trellode_db
DBPORT=3306
DBUSER=root
DBPASS=1234
DBNAME=trellode
DBPARAM="charset=utf8&parseTime=True&loc=Europe%2FParis"
PORT=8080
LOG_LEVEL=info
ENVIRONMENT=test
API_NAME=trellode
TOKEN_SECRET=abcdef
MODE=local